{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <main>
        <div class="account">
            <div class="infos">
                <h1>Informations de Compte</h1>
                <div class="content">
                    <h3>Nom d'Utilisatuer: <a>{{ app.user.username }}</a></h3>
                    <h3>Adresse Email: <a>{{ app.user.email }}</a></h3>
                </div>
            </div>
            <div class="orders">
                <h1>Commandes</h1>
                <div class="content orders-list">
                    {% for order in app.user.orders %}
                        <div class="order">
                            <div class="title">
                                <h3>Emprunt n°{{ order.id }}</h3><h4 class="date">Du {{ order.date|date('d/m/Y') }} au {{ order.returnDate|date('d/m/Y') }}</h4>
                            </div>
                            <div class="book-list">
                                {% for book in order.books %}
                                    <h4>{{ book.name }}</h4>
                                    	{% if book.cover %}
									    <img class="img-account" src="{{ asset('imgs/uploads/' ~ book.cover) }}" alt="{{ book.name }}">
									{% else %}
									    <img class="img-account" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
									{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
    </main>
{% endblock %}