{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
	<main>
		<article class="show-book">
			<h1>{{book.name}}</h1>
			<div class="btn-container">
				<a class="btn" href="{{ path('app_home') }}"><span>Retour</span></a>
			</div>
            {% if book.cover %}
                <img class="img-show" src="{{ asset('imgs/uploads/' ~ book.cover) }}" alt="{{ book.name }}">
            {% else %}
                <img class="img-show-error" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
            {% endif %}
			<p>{{book.summary}}</p>
			<div class="btn-container">
				<form method="post" action="{{ path('app_order_book') }}">
					<input type="hidden" name="id" value="{{ book.id }}">
					<button action="submit" class="btn"><span>Emprunter</span></button>
				</form>
				<form method="post" action="{{ path('app_cart_add') }}">
					<input type="hidden" name="id" value="{{ book.id }}">
					<button action="submit" class="btn"><span><i class="fa-solid fa-cart-plus"></i></span></button>
				</form>
			</div>
		</article>
	</main>
{% endblock %}
