{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<main>
		<div class="tags">
			{% for tag in tags %}
				<div class="tag">
					<a href="{{ path('app_tag', {'id': tag.id}) }}"><h1 class="tag-name">{{ tag.name }}</h1></a>
					<div class="books">
						{% for book in tag.books|slice(0, 10) %}
							<article class="book">
								<a href="{{ path('app_book', {'id': book.id}) }}">
									<h2>{{ book.name }}</h2>
									{# {% if book.img %} #}
									{# <img src="{{book.img}}" alt="{{book.name}}">
									{% else %} #}
									<img
									class="img-home" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
									{# {% endif %}      #}
									<p>{{ book.summary }}</p>
								</a>
										<div class="btn-container">
								<form method="post" action="{{ path('app_cart_add') }}">
								<input type="hidden" name="id" value="{{ book.id }}">
							<button action="submit" class="btn"><span><i class="fa-solid fa-cart-plus"></i></span></button>
							</form>
							</div>
							</article>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
