{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<main>
        <div class="head">
            <h1 style="color: var(--text-primary)">Vamp Library</h1>
            <p>Bienvenue sur <i style="color: var(--text-primary)">🧛 Vamp Library</i>, votre bibliothèque en ligne dédiée à la location de livres ! Plongez dans un vaste catalogue d'ouvrages, explorez de nouvelles histoires <i style="color: #ff3333">Sanglantes 🩸</i> et laissez-vous emporter par la magie de la lecture, sans encombrer vos étagères. Inscrivez-vous <i style="color: var(--text-primary)">GRATUITEMENT</i> dès maintenant et commencez votre prochaine aventure littéraire !</p>
            <img src="{{ asset('imgs/banner.png') }}">
        </div>
		<div class="tags">
			{% for tag in tags %}
				<div class="tag">
					<a href="{{ path('app_tag', {'id': tag.id}) }}"><h1 class="tag-name">{{ tag.name }}</h1></a>
					<div class="books">
						{% for book in tag.books|slice(0, 10) %}
							<article class="book">
								<a href="{{ path('app_book', {'id': book.id}) }}">
									<h2>{{ book.name }}</h2>
									{% if book.cover %}
									    <img class="img-home" src="{{ asset('imgs/uploads/' ~ book.cover) }}" alt="{{ book.name }}">
									{% else %}
									    <img class="img-home" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
									{% endif %}
									<p>{{ book.summary }}</p>
								</a>
								<div class="btn-container">
                                    <form method="post" action="{{ path('app_cart_add') }}">
                                        <input type="hidden" name="id" value="{{ book.id }}">
                                        <button action="submit" class="btn"><span><i class="fa-solid fa-cart-plus"></i></span></button>
                                    </form>
							    </div>
							</article>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
