{% extends 'base.html.twig' %}
{% set layout = false %}{# Disables header and footer #}
{% block title %}Edit Book{% endblock %}

{% block body %}
<main>
    <div class="book-edit">
        <h1 class="h_dashboard">Modifier</h1>
        <a class="action" href="{{ path('app_dashboard') }}"><span>Retour</span></a>
        {{ form_errors(form) }}
        {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}

            {{ form_label(form.summary) }}
            {{ form_widget(form.summary) }}

            {{ form_label(form.cover) }}
                {% if book.cover %}
                    <img class="img-edit" src="{{ asset('imgs/uploads/' ~ book.cover) }}" alt="{{ book.name }}">
                {% else %}
                    <img class="img-edit" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
                {% endif %}
            {{ form_widget(form.cover) }}
            
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags) }}

                <button class="action"><span>Modifier</span></button>
        {{ form_end(form) }}   
    </div>
</main>

{% endblock %}

