{% extends 'base.html.twig' %}

{% set layout = false %}{# Disables header and footer #}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}
    <main>
        <div class="book-new">
                <a class="action" href="{{ path('app_dashboard') }}"><span>Retour</span></a>
            <h1 class="h_dashboard">Nouveau Livre</h1>
           <div class="error"> {{ form_errors(form) }}</div>
            {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}

            {{ form_label(form.summary) }}
            {{ form_widget(form.summary) }}

            {{ form_label(form.cover) }}
            {{ form_widget(form.cover) }}

            {{ form_label(form.tags) }}
            {{ form_widget(form.tags) }}

    
                <button class="action"><span>Ajouter</span></button>
       
            {{ form_end(form) }}

        </div>
    </main>
{% endblock %}
