{% extends 'base.html.twig' %}
{% set layout = false %}{# Disables header and footer #}
{% block title %}New Tag{% endblock %}

{% block body %}
       <main>
        <div class="tag-new">
                <a class="action" href="{{ path('app_dashboard') }}"><span>Retour</span></a>
            <h1 class="h_dashboard">New</h1>
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
                <button class="action"><span>Modifier</span></button>
            {{ form_end(form) }}

        </div>
    </main>
{% endblock %}
