{% extends 'base.html.twig' %}

{% set layout = false %} {# Disables header and footer #}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div class="dashboard">
		<div class="books">
			<div class="head">
				<div class="title">
					<i class="icon fa-solid fa-book-bookmark"></i>
					<h1>Books</h1>
					<button class="action"><a href="{{path('app_home')}}">Home</a></button>
				</div>
				<div class="iconTextInput">
					<i class="icon fa-solid fa-magnifying-glass"></i>
					<input type="text" id="books-search" placeholder="Search...">
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<td>
							<strong>Id</strong>
						</td>
						<td class="name">
							<strong>Name</strong>	
							<button class="action"><a href="{{path('app_book_new')}}">New Book</a></button>
						</td>
						<td class="summary">
							<strong>Summary</strong>
						</td>
						<td class="tags">
							<strong>Tags</strong>
							<button class="action"><a href="{{path('app_tag_new')}}">New Tag</a></button>
						</td>
						<td class="cover">
							<strong>Cover</strong>
						</td>
						<td class="actions">
							<strong>Actions</strong>
						</td>
					</tr>
				</thead>
				<tbody id="books">
					{% for book in books %}
						<tr id="id={{ book.id }},name={{ book.name }}{% for tag in book.tags %}!{{ tag.name}}{% endfor %}">
							<td>{{ book.id }}</td>
							<td class="name"><a href="{{ path('app_book', {'id': book.id}) }}">{{ book.name }}</a></td>
							<td class="summary">{{ book.summary }}</td>
							<td class="tags">
                                {% for tag in book.tags %}
                                    <span class="tag">{{ tag.name }}</span>
                                {% endfor %}
                            </td>
                            <td class="cover">
                                {% if book.cover %}
                                    <img src="{{ asset('imgs/uploads/' ~ book.cover) }}" alt="{{ book.name }}">
                                {% else %}
                                    <img class="img-home" src="{{ asset('imgs/err.jpg') }}" alt="error-img">
                                {% endif %}
                            </td>
							<td class="actions">
                                <form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this book ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                                    <button class="action">Delete</button>
                                    <a class="action"  href="{{ path('app_book_edit', {'id': book.id}) }}">Modifer</a>
                                </form>	
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="users">
			<div class="head">
				<div class="title">
					<i class="icon fa-solid fa-circle-user"></i>
					<h1>Users</h1>
				</div>
				<div class="iconTextInput">
					<i class="icon fa-solid fa-magnifying-glass"></i>
					<input type="text" id="users-search" placeholder="Search...">
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<td>
							<strong>Id</strong>
						</td>
						<td class="username">
							<strong>Username</strong>
						</td>
						<td class="email">
							<strong>Email</strong>
						</td>
						<td class="actions">
							<strong>Actions</strong>
						</td>
					</tr>
				</thead>
				<tbody id="users">
					{% for user in users %}
						<tr id="id={{ user.id }},username={{ user.username }},email={{ user.email }}">
							<td>{{ user.id }}</td>
							<td class="username {{ 'ROLE_ADMIN' in user.roles ? 'admin' : ''}}">{{ user.username }}</td>
							<td class="email">{{ user.email }}</td>
							<td class="actions">
                                <form method="post" action="{{ path('app_user_action', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this user ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="action">Delete</button>
                                </form>
                                <form method="post" action="{{ path('app_user_action',  {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to pass admin this user ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('admin' ~ user.id) }}">
                                    <button class="action" type="submit">Admin</button>
                                </form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script>
        search('books-search', 'books');
        search('users-search', 'users');
        function search(input, table) {
            document.getElementById(input).addEventListener('input', (e) => {
                for (const user of document.getElementById(table).children) {
                    if (!user.id.toLowerCase().includes(e.target.value.toLowerCase())) {
                        user.style.display = 'none';
                    } else {
                        user.style.display = 'table-row';
                    }
                }
            });
        }
	</script>
{% endblock %}
